
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '103433109789121',
      status     : true, 
      cookie     : true,
      xfbml      : true,
      oauth      : true,
    });

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;

        FB.api('/me', function(response) {
          console.log('Hello, ' + response.name + '.');
        });
      } else if (response.status === 'not_authorized') {
        console.log('not authorized');
        $("#login").append('<button id="loginBtn" type="button">ログイン</button>');
      } else {
        console.log('not logged in');
        $("#login").append('<button id="loginBtn" type="button">ログイン</button>');
      }
    });

  };

  (function(d){
    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/ja_JP/all.js";
    d.getElementsByTagName('head')[0].appendChild(js);
  }(document));
</script>

<script type="text/javascript">
$(document).ready(function() {
  $(document).on("click", "#loginBtn", function() {
    FB.login(function(response) {
      if (response.authResponse) {
        console.log("auth success");
      } else {
        console.log("auth not success");
      }
    });
  });
});
</script>

<div id="login"></div>

<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
